.logo{
	padding-left: 5%; 
  padding-top: .1%;
  height: 25%; 
  width: 25%;
  float: left;

}
html, body{
	margin: 0;
	padding:0;
	background-image: url(img/yellowback.svg);
	background-size: 200vw 200vw;
	background-position: center top;
	background-repeat: no-repeat;
	height: 100%;


}

.bg-img {
  /* The image used */
  background-image: url(img/Homehero.png);



  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 47vw;

 text-align: center;
 padding: 0;
 margin:0;
 height: 100%;
 width: 100%;
 

}
.bg-img h1{
	vertical-align: middle;
text-align: center;
color: white; 
font-size: 8vw;
font-family: "Bebas Neue", serif;
margin:0;
padding-top: 17%;
}
/* The navbar */
ul{
  padding-top:2%;
  margin:0;
}
/* The navbar */
.navbar {
  overflow: hidden;
  padding-right: 3%; 
  float: right;
  padding-top: .75%;
  
 
}
.navbar a{
 

  color: white;
  font-family: "Bebas Neue";
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  font-size: 2vw;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
  
}

.link:hover{
  color: #BBBBBB;
}
.side-nav{
  height: 100vh;
  width: 0;
  float: right;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:rgba(0,0,0,0.9);
  overflow-x: hidden;
  overflow: hidden;
  transition: 0.5s;
  display: none;
  position: fixed;


}
.open-slide{
  display: none;
  padding-top: 35%;
}
.side-nav a{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  font-family: "Bebas Neue", sans-serif;
  display: block;
  text-decoration: none;
  color: white;
  font-size: 30px;
  text-align: right;





}

li{
	list-style-type: none;

}
.button{
	position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4FB99F;
  border: none;
  color: white;
  padding: 1% 3%;
  text-align: center;
  text-decoration: none;
   
  font-size: 1.5vw;
  font-family: "Raleway";
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin:0 auto;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.message{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Raleway", serif;
  color: white;
  position: relative;
  padding-bottom: 3%;


  
}

.message .button{
  background-color: #ED553B;

}
.message .button:hover{
  background-color: #C74832;
}
.message h1{
  font-size: 3vw;
  text-shadow: .5px .5px 4px #000000;
  margin:0;
    padding:0;
  

}
label, input{
  display: block;
 margin: 0 auto;

}

label{
  margin-bottom: 20px;
 
}
.headingwrap{
  position: relative;
}
.textbox-style{
  font-size: 2vw;
  width:25%;
  padding-left: 10px;
  box-shadow: 10px 8px 16px 10px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-family: "Raleway", serif;

}
.messagebox-style{
  font-size: 2vw;
  width:25%;
  min-height: 100px;
  padding-left: 10px;
  box-shadow: 10px 8px 16px 10px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-family: "Raleway", serif;


}
.button-padding{
  padding-top: 2%;
  position: relative;
  
}
.textbox-wrapper{
  height: 100%;
  padding-top: 1%;
}
.social-links{
  font-family: "Raleway", serif;
  color: white;
}
.social-links h1{
  font-size: 3vw;
  text-shadow: .5px .5px 4px #000000;
  margin:0;
  text-align: center;
  padding:0;

}
.social-wrapper{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;

}
.social-wrapper a{
  text-decoration: none;
  color: white;
}
.social2-wrapper{
  display: inline-block;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 2vw;
   -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}
.social2-wrapper:hover{
  color: black;
}
.caption{
  display: block;
}
.socialimg{
  width: 6vw;
  height: 6vw;
}

.column {
  float: left;

}
.row{
  
  display: inline-block;
  



}
.footimg{
  width: 2.5vw;
  height: 2.5vw;
  padding: 1.5vw;
  padding-bottom: .5vw;
}

nav li{
  display: inline;

}
.footlogo{
  height: 20%; 
  width: 20%;
  padding-top: 1%;

}
.bottomnav{
  padding-top: .5%;
}
.bottomnav a{
  text-align:center;
  color: white;
    font-family: "Bebas Neue";
    text-decoration: none;
    padding: .5vw;
    font-size: 1.7vw;
}
footer {

   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #ED553B;
   color: white;
   text-align: center;

}
@media only screen and (max-width: 1024px){
  .navbar-nav{
    display: none;
  }
  .logo{
    
    float: left;
  }
  .side-nav{
    display: block;
    float: right;
  }
  .open-slide{
    display: inline-block;
    float: right
    padding-top:35%;

  }
  .bg-img{
    min-height: 70vw;

    
  }
  .bg-img h1{
    padding-top: 25%;
    font-size: 13vw;
  }
  .logo{
    height:35%;
    width:35% ;
    padding-left: 1%;
    padding-top: 1%;
  }
  .button{
    font-size: 3vw;
  }
  .textbox-style{
    width: 45%;
    font-size: 4vw;
  }
  .messagebox-style{
    width: 45%;
    font-size: 4vw;
    resize: none;
  }
  .message h1{
    font-size: 7vw;
  }
  .social-links h1{
    font-size: 5vw;
    padding-top: 3%;
  }
  .socialimg{
    width: 9vw;
    height: 9vw;
  }
  .social2-wrapper{
    padding-left: 4.5%;
    padding-right: 4.5%;
    font-size: 3vw;
  }

  .footimg{
    height: 5vw;
    width: 5vw;
    padding:2.5vw;
    padding-bottom: .4vw;
  }
  .bottomnav a{
    font-size: 3vw;
    padding: .7vw;

  }
  
  .footlogo{
    height: 30%;
    width: 30%;

  }

  html, body{
  
  background-position: center 40vw;
  }
  

}
@media only screen and (max-width: 600px){
 .bg-img{

    min-height:150vw;

  }
  .bg-img h1{
    padding-top: 55%;
    font-size: 15vw;
  }
  .logo{
    height:55%;
    width:55% ;
    padding-left: 3%;
    padding-top: 4%;
  }
  .open-slide{
    padding-top: 45%;
  }
  .button{
    font-size: 4.5vw;
    padding: 3% 3%;

  }
  .button-padding{
    padding-top: 5%;
  }
  .textbox-style{
    width: 75%;
    font-size: 6vw;
  }
  .messagebox-style{
    font-size: 6vw;
    width: 75%;
  }
  label{
    margin-bottom: 10px;
  }
  .social-links h1{
    font-size: 7vw;
    padding-top: 8%;
  }
  .socialimg{
    width: 20vw;
    height: 20vw;
  }
  .social-wrapper{
    display: block;
  }
  .social2-wrapper{
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 5vw;
    padding-left: 6%;
    padding-right: 6%;
    
  }
  .float-l{
    float: left;

  }
  .float-r{
    float: right;
  }
  .footimg{
    height: 8vw;
    width: 8vw;
    padding:3.5vw;
    padding-bottom: .4vw;
  }
  .bottomnav a{
    font-size: 4.5vw;
    padding: 1vw;
  }
  .footlogo{
    height: 50%;
    width: 50%;

  }
 
  html, body{
  
  background-position: center 130vw;
  }
  
}



