.logo{
	padding-left: 5%; 
	padding-top: .1%;
	height: 17%; 
	width: 17%;

}
html, body{
	margin: 0;
	padding:0;
	background-image: url(img/testback.svg), url(img/secondtestback.svg) ;
	background-size: 120vw 120vw, 120vw;
  background-position: center top, center 100vw;
	background-repeat: no-repeat;
	height: 100%;


}

.bg-img {
  /* The image used */
  background-image: url(img/Homehero.png);



  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 37vw;
 
  /* Needed to position the navbar */
  position: relative;


}
.bg-img h1{
	text-align: center;
vertical-align: middle;
padding-top: 1%;
line-height: 200px;
color: white; 
font-size: 8vw;
font-family: "Bebas Neue", serif;
}
/* The navbar */
.topnav {
  overflow: hidden;
  padding-right: 5%
 
  
}

.link{
 
  float:right;
  color: white;
  font-family: "Bebas Neue";
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  font-size: 1.5vw;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
  
}
.link:hover{
  color: #BBBBBB;
}

li{
  margin: 3%;
  margin-left: 0px;
   padding-left: 0px;
}

.plans{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin: 0 auto;
  font-family: "Raleway", serif;


}
.third{
  background-color: white;
  width: 31%;
  height: 100%;
  margin-right: 1%;
  margin-left: 1%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 10px;
  border-color: grey;
}
.third h1{
  text-align: center;
}

.purchases{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin: 0 auto;
  font-family: "Raleway", serif;

}
.block{
   background-color: white;
  width: 31%;
  height: 100%;
  margin-right: 1%;
  margin-left: 1%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 10px;
  border-color: grey;
}









.column {
  float: left;

}
.row{
  
  display: inline-block;
}
.footimg{
  width: 2vw;
  height: 2vw;
  padding: 1.5vw;
  padding-bottom: .5vw;
}

nav li{
  display: inline;

}
.footlogo{
  height: 15%; 
  width: 15%;
  padding-top: 1%;

}
.bottomnav{
  padding-top: .5%;
}
.bottomnav a{
  text-align:center;
  color: white;
    font-family: "Bebas Neue";
    text-decoration: none;
    padding: .5vw;
    font-size: 1.3vw;
}
footer {

   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #ED553B;
   color: white;
   text-align: center;

}


